html,
body {
  height: 100%;
  background: $brand-danger;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
	background: $body-bg;
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -35px;
	/* Pad bottom by footer height */
	padding: 0 0 35px;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: $brand-danger;
  color: #ffffff;
  font-size: .9em;
  height: 35px;
  padding: .5em;
  text-align: center;
}

/* BackToTop button css */
#scroll {
    position:fixed;
    right:10px;
    bottom:40px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:$brand-primary;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    opacity: .75;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border: 8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color: darken($brand-primary, 10%);
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.top-menu {
	background: #0f2b56;
	border-bottom: 2px solid #9b1737;
	color: white;
	display: none;
	font-size: .85em;
	padding: .35em 0;
	a {
		color: #ffffff;
		display: inline-block;
	}
}


.title-menu {
	background: $brand-danger;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 0;
	text-align: center;
	a {
		color: #ffffff;
		display: inline-block;
		padding: .75em 2em .5em 2em;
		&:hover {
			text-decoration: none;
		}
		.logo {
			img {
				width: 60px;
				height: auto;
			}
		}
		.brand {
			// display: block;
		}
	}
	.menu-btn, .user-btn {
		cursor: pointer;
		color: #ffffff;
		font-size: 1.5em;
		padding: 0.25em 0;
	}
}

.main-menu {
	background: $brand-danger;
	border-top: 1px solid darken($brand-danger, 10%);
	border-bottom: 1px solid darken($brand-danger, 10%);
	display: none;
	padding: 0;
	ul {
 		list-style: none;
 		padding: 0;
 		margin: 0;
 		li {
			display: inline-block;
			margin-right: -4px;
			&:hover {
				background: darken($brand-danger, 10%);
			}
			a {
				color: white;
				display: block;
				padding: .75em;
				text-decoration: none;
			}
			.current {
				background: #0f2b56;
			}
 		}

 	}
}

.breadcrumbpb {
	background: #f5f5f5;
	border-bottom: 1px solid darken(#f5f5f5, 5%);
	.breadcrumb {
		background: none;
		margin: 0;
		.breadcrumb-item {
			font-size: .9em;
		}
	}
}

.banners {
	margin-bottom: 1.5em;
	.banner-penya {
		border-radius: 8px;
		color: #ffffff;
		padding: 1em;
		&.blue {
			background: #0f2b56;
			border: 1px solid darken(#0f2b56, 10%);
		}
		&.red {
			background: $brand-danger;
			border: 1px solid darken($brand-danger, 10%);
		}
		.title {
			font-family: 'Francois One';
			font-size: 1.25em;
		}
		.detail {
			font-size: .9em;
		}
	}

}
.post {
	// postion: relative;
	.panel-heading {
		.category {
			background: $brand-primary;
			border: 1px solid darken($brand-primary, 10%);
			border-radius: 4px;
			color: #ffffff;
			font-size: .85em;
			padding: .25em .5em;

			postion: absolute;
			left: 5em;
			top: 5em;
		}
		.title {
			font-family: 'Francois One';
			font-size: 1.5em;
		}
		.date {
			font-size: .85em;
			color: lighten($text-color, 10%);
		}
	}
}

.margin10 {
	margin: 1em 0;
}

//sumernote custom
.note-toolbar {
	z-index: 1;
}
.note-editor {
	// border: 1px solid red;
	&.note-frame {
		border: 1px solid $input-border;
	}
}
.note-btn {
	border: 1px solid $laravel-border-color;
}


///admin classes

.fields {
	input {
		z-index: 1;
	}
	.required {
		font-size: .8em;
		color: lighten($text-color, 30%);
		margin-left: .5em;
	}
	.input-group {
		display: block;
	}
}

.admin-register-list {
	.panel-heading {
		background: #f5f5f5;
		border-bottom: none;
		overflow: hidden;
		.name {
			float: left;
			font-family: 'Francois One';
			font-size: 1.25em;
		}
		.action {
			float: right;
			padding: .25em 1.5em;
		}
	}
	.panel-body {
		padding: 0;
		table {
			margin: 0;
			border: none;
			tr {
				td {
					border-bottom: none;
					border-top: 1px solid lighten($input-border, 10%);
					vertical-align: middle;
				}
				.actions {
					text-align: right;
					ul {
						margin: 0;
						list-style: none;
						li {
							display: inline-block;
							a {
								color: $text-color;
								margin-right: .25em;
								&:hover {
									color: darken($text-color, 10%);
									text-decoration: none;
								}
							}
							form {
								display: inline;
							}
							button {
								// display: inline;
								padding: 0;
								border: none;
								background: none;
								&:hover {
									color: darken($text-color, 10%);
								}
							}
							.delete {
								color: $brand-danger;
								&:hover {
									color: darken($brand-danger, 10%);
								}
								&.disabled {
									color: lighten($brand-danger, 20%);
									&:hover {
										color: lighten($brand-danger, 20%);
									}
								}
							}
							.disabled {
								color: lighten($brand-primary, 20%);
								&:hover {
									color: lighten($brand-primary, 20%);
								}
							}
							.publications {
								margin-right: 1em;
								font-size: .8em;
							}
						}
					}
					.dropdown-toggle {
						margin-right: .5em;
					}
				}
				.empty {
					color: lighten($text-color, 30%);
					padding: 1.5em 0;
					text-align: center;
				}
			}
		}
	}
	.panel-footer {
		background: #f5f5f5;
		padding: 0 1em;
		overflow: hidden;
		table {
			width: 100%;
			.reg-info {
				font-size: .9em;
				padding: 1em 0;
			}
			.navigation {
				text-align: right;
			}
		}
		.pagination {
			font-size: 0.9em;
			margin: 0em;
			padding: .75em 0em .25em 1em;
		}
	}
}

.admin-register-form {
	.panel-heading {
		background: #f5f5f5;
		overflow: hidden;
		.name {
			float: left;
			font-family: 'Francois One';
			font-size: 1.25em;
		}
		.action {
			float: right;
			padding: .25em 1.5em;
		}
	}
	.panel-body {
		padding: 1em;
	}
	.panel-footer {
		background: #f5f5f5;
		margin-top: 1em;
		padding: 1em;
		text-align: right;
	}
}


.sweet-alert {
	h2 {
		font-size: 1.25em;
		margin: 0;
	}
	p {
		font-size: .9em;
		margin: .5em 0 0 0;
	}
	.sa-button-container {
		button {
			font-size: 1em;
			padding: .5em 1.5em;
			margin: 1.5em 0 0 0;
		}
	}
}


@media (min-width: 768px) { //tablet or highter
 	body {
 		background: $body-bg;
 	}
 	.top-menu {
		display: block;
	}
 	.title-menu {
		background: url(https://media-public.fcbarcelona.com/20157/28990530/725447/1.0/725447.jpg?t=1504262004000) no-repeat 50% 50% / cover;
 		border-bottom: none;
 		a {
 			display: block;
 			padding: .5em 0;
			.brand {
				font-size: 1.5em;
			}
	 	}
 	}
	.main-menu {
	 	display: block;
	}
}